.nav-wrapper{
    max-width: 1280px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
}
.navbar-logo{
    margin: 24px 24px;
    width: 76px;
    height: 24px;
}
.navbar-help-wrapper{
    display: flex;
    gap: 4px;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.navbar-help{
    color: #474747;
    width: 20px;
    height: 20px;
}